body{
  background-color: #fdf3e7;
  background-image: url(../resource/background.jpg);
  background-size: cover;
}


#wrap{
  	width: 798px;
  	margin: 40px auto;
  	padding: 40px 80px;
  	border: #f6bb9e 1px solid;
  	background-color: #fdf3e7;
}

table.loginForm{
	border: #f6bb9e 2px solid;
	border-collapse: collapse;
}

.loginForm th,
.loginForm td{
	padding: 5px 10px;
	border: #f6bb9e 1px solid;
}

.loginForm th{
	width: 10em;
	background-color: #ffeeee;
	text-align: center;;
	vertical-align: top;
}
